.saveSets {

    button {
        background: transparent;
        border: 0px;
        display: inline-block;
        width: 12rem;
        color: darken($blue, 20%);

        font-size: 1.6rem;
        font-weight: normal;
        text-transform: uppercase;

        cursor: pointer;
    }

    .btn {
        display: inline-block;
        height: 6rem;
        font-weight: bold;
    }

    #loadAllSets {
        margin-left: 1.5rem;
    }
}

